server:
  port: 9003
spring:
  application:
    name: kuke-board-view-service
  datasource:
    url: jdbc:mysql://localhost:3306/article_view
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
  data:
    redis:
      host: localhost
      port: 6379