server:
  port: 9002
spring:
  application:
    name: kuke-board-like-service
  datasource:
    url: jdbc:mysql://localhost:3306/article_like
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
  data:
    redis:
      host: 127.0.0.1
      port: 6379
  kafka:
    bootstrap-servers: 127.0.0.1:9092