server:
  port: 9001
spring:
  application:
    name: kuke-board-article-comment
  datasource:
    url: jdbc:mysql://localhost:3306/comment
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none